/* styles.css */

/* Add styles here to customize the appearance of your app */
    /* Estilos para etiquetas label */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para campos de entrada */
input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}
/* Estilos para el botón submit */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}